.price-gap1{
    margin-right: 200px;
}
.price-gap2{
    margin-right: 115px;
}
.price-gap3{
    margin-right: 122px;
}
.price-gap4{
    margin-right: 145px;
}
.price-gap5{
    margin-right: 195px;
}
.price-gap6{
    margin-right: 50px;
}

/* .img-width{
    width: 200px;
} */